/* Cirka Fonts */
@font-face {
  font-family: Cirka;
  src: url("./assets/fonts/Cirka-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Cirka;
  src: url("./assets/fonts/Cirka-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

/* Sans Trial Fonts */
@font-face {
  font-family: Studio Feixen Sans TRIAL;
  src: url("./assets/fonts/StudioFeixenSansTRIAL-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Studio Feixen Sans TRIAL;
  src: url("./assets/fonts/StudioFeixenSansTRIAL-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

/* Edgy Trial Fonts */
@font-face {
  font-family: Studio Feixen Edgy TRIAL;
  src: url("./assets/fonts/StudioFeixenEdgyTRIAL-Light.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Studio Feixen Edgy TRIAL;
  src: url("./assets/fonts/StudioFeixenEdgyTRIAL-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Studio Feixen Edgy TRIAL;
  src: url("./assets/fonts/StudioFeixenEdgyTRIAL-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

*,
*::after,
&::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #212121;
  --secondary-color: #d7edff;
  --body-color: #f9f9f9;
  --success-color: #008000;
  --gray-100: #f1f2f3;
  --danger-color: #f00;
  --heading-underline-color: #ccf0fe;
  --accent-100: #cceffd;
  --accent-200: #a4c7fb;
  --accent-300: #f5f9fe;
  --dark-gray: #1d1e21;
  --white-color: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font: 1.8rem/24px Studio Feixen Edgy TRIAL, serif;
  color: var(--primary-color);
  background-color: var(--body-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

svg {
  vertical-align: middle;
}

p {
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  font-family: Studio Feixen Sans TRIAL, serif;
}

.is-font-primary {
  font-family: Studio Feixen Edgy TRIAL, serif;
}

blockquote {
  margin-left: 0;
}

.is-block {
  display: block !important;
}

.is-danger {
  color: var(--danger-color) !important;
}

.is-success {
  color: var(--success-color) !important;
}

.is-lower {
  text-transform: lowercase !important;
}

.is-extra-md {
  font-weight: 600 !important;
}

.is-regular {
  font-weight: 400 !important;
}

.is-bold {
  font-weight: 700 !important;
}

.is-extra-bold {
  font-weight: 800 !important;
}

.is-text-xsm {
  font-size: 14px !important;
}

.is-text-sm {
  font-size: 16px !important;
}

.is-text-md {
  font-size: 2rem !important;
}

.is-italic {
  font-style: italic !important;
}

.list-style-none {
  list-style-type: none !important;
}

.list-style-dash {
  list-style-type: "- " !important;
}

.is-underline {
  text-decoration: underline !important;
}

.is-text-center {
  text-align: center;
}

.is-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* COLOR */
.is-color-primary {
  color: var(--primary-color) !important;
}

.is-color-primary-7 {
  color: rgba(33, 33, 33, 0.7) !important;
}

.is-bg-white {
  background: var(--white-color) !important;
}

.is-bg-accent-100 {
  background: var(--accent-100) !important;
}

.is-bg-accent-200 {
  background: var(--accent-200) !important;
}

.is-bg-accent-300 {
  background: var(--accent-300) !important;
}

.is-bg-body-color {
  background: var(--body-color) !important;
}
